* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: whitesmoke
}

.navbar {
    text-align: center;
    background: white;
    padding: 1em;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.nav-item {
    display: inline;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 2em;
    color: black;
    cursor: pointer;
}

button {
    padding: 4px 8px;
    border: none;
    outline: none;
    cursor: pointer
}