* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.invoiceContainer {
    background: #130c13;
    width: 400px;
    margin: 0 auto;
    padding: 1em;
    color: white;
}

.styleBtn {
    padding: '4px 8px';
    background: #f7dceeee
}