    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box
    }
    
    main {
        position: absolute;
        left: 35%;
        top: 30%;
        background: whitesmoke;
        padding: 1em;
        width: 520px;
        text-align: center
    }
    
    li {
        list-style: none;
    }
    
    .followerContainer {
        padding: 0.3em;
        margin: 0.5em
    }
    
    .followBtn {
        padding: 5px 16px;
        font-size: 16px;
        outline: none;
        border-radius: 1em;
        border: 1px solid blue;
        cursor: pointer;
        position: relative;
        top: -35px;
        left: 270px;
        color: blue
    }
    
    .timesBtn {
        cursor: pointer;
        position: relative;
        top: -37px;
        left: 290px;
        padding: 1px 4px;
        outline: none;
        border: none;
        background: blue;
        color: white;
        border-radius: 4em;
    }
    
    input {
        width: 300px;
        height: 30px;
        padding: 0.5em;
        outline: none;
        margin-top: 3px
    }
    
    .addBtn {
        padding: 6px 12px;
        margin: 0.5em;
        width: 300px;
        color: white;
        background: coral;
        border: none;
        cursor: pointer
    }
    
    li {
        list-style: none;
    }
    
    .todoContainer {
        width: 300px;
        margin-left: 95px;
        /* padding: .3em; */
        text-align: left;
    }
    
    .todo {
        border: 1px solid chocolate;
        width: 300px;
        padding: 0.3em
    }
    
    .removeBtn {
        float: right;
        border: none;
        background: coral;
        color: white;
        padding: 3px 5px;
        cursor: pointer;
        border-radius: 70px;
    }