* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px
}

body {
    background: whitesmoke
}

.nav-bar {
    text-align: center;
    padding: 1em;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.nav-item {
    display: inline;
    color: black;
    padding: 0.5em;
    font-weight: bold
}

.nav-item:hover {
    background: whitesmoke;
    padding-top: 1em;
    padding-bottom: 1em;
    color: red
}

.btn {
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    background-color: whitesmoke;
}